<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\ActiveRolesDashboard.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800">
            <headerLimits>
              <add header="Cookie" sizeLimit="65536" />
            </headerLimits>
          </requestLimits>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
