<section class="collapsible" [class.is-open]="open()">
  <button
    type="button"
    class="collapsible-header"
    [attr.aria-expanded]="open()"
    (click)="toggle()"
  >
    <iris-icon
      class="collapsible-caret"
      [class.is-open]="open()"
      name="CaretDown"
      size="16px"
    />
    <span class="collapsible-titles">
      <span class="collapsible-heading">{{ heading }}</span>
      @if (helper) {
        <span class="collapsible-helper">{{ helper }}</span>
      }
    </span>
  </button>

  @if (open()) {
    <div class="collapsible-body">
      <ng-content />
    </div>
  }
</section>
